

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  .hero-section {
	  background-size: 160% 66%;
	  /* T o o p l a t e . c o m   C u s t o m i z e d */
	}

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 414px) {
  .search-form {
    max-width: 200px;
  }

}


p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

.hero-section {
  /* background-image: url('../../../assets/images/templatemo-wave-banner.jpg'), linear-gradient(#348CD2, #FFFFFF); */
  background-repeat: no-repeat;
  background-size: 108% 70%;
  background-position: top;
  padding-top: 200px;
  border-color: black;
}





/* slider dots  */
::ng-deep .owl-dots {
  background-color: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border-radius: var(--border-radius-large);
  display: inline-block;
  margin: auto;
  margin-top: 5px;
  padding: 15px 25px;
  padding-bottom: 7px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
::ng-deep .owl-item {
  opacity: 0.2;
}
::ng-deep .owl-item.center {
  opacity: 1;
}


