<app-section-custom [title]="'episodes'" [sectionId]="'2'">
    <div class="col-lg-6 col-12 mb-4 mb-lg-0" *ngFor="let podcast of pagedPodcasts">
      <div class="custom-block d-flex">
        <div class="">
          <div class="custom-block-icon-wrap">
            <div class="section-overlay"></div>
            <a href="detail-page.html" class="custom-block-image-wrap">
              <img src="{{ podcast.image }}" class="custom-block-image img-fluid" alt="">
              <a href="#" class="custom-block-icon">
                <i class="bi-play-fill"></i>
              </a>
            </a>
          </div>
          <div class="mt-2">
            <a href="#" class="btn custom-btn">Subscribe</a>
          </div>
        </div>
  
        <div class="custom-block-info">
          <div class="custom-block-top d-flex mb-1">
            <small class="me-4">
              <i class="bi-clock-fill custom-icon"></i>
              {{ podcast.duration }}
            </small>
            <small>Episode <span class="badge">{{ podcast.episode }}</span></small>
          </div>
  
          <h5 class="mb-2">
            <a href="detail-page.html">{{ podcast.title }}</a>
          </h5>
  
          <div class="profile-block d-flex">
            <img src="{{ podcast.profileImage }}" class="profile-block-image img-fluid" alt="">
            <p>{{ podcast.name }} <strong>{{ podcast.type }}</strong></p>
          </div>
  
          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
  
          <div class="custom-block-bottom d-flex justify-content-between mt-3">
            <a href="#" class="bi-headphones me-1">
              <span>{{ formatNumber(podcast.listeners) }}</span>
            </a>
            <a href="#" class="bi-heart me-1">
              <span>{{ formatNumber(podcast.likes) }}</span>
            </a>
            <a href="#" class="bi-chat me-1">
              <span>{{ formatNumber(podcast.comments) }}</span>
            </a>
            <a href="#" class="bi-download">
              <span>{{ formatNumber(podcast.downloads) }}</span>
            </a>
          </div>
        </div>
  
        <div class="d-flex flex-column ms-auto">
          <a href="#" class="badge ms-auto">
            <i class="bi-heart"></i>
          </a>
          <a href="#" class="badge ms-auto">
            <i class="bi-bookmark"></i>
          </a>
        </div>
      </div>
    </div>
  
    <div class="col-lg-4 col-12 mx-auto">
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center mt-5">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="javascript:void(0)" aria-label="Previous" (click)="changePage(currentPage - 1)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
            <a class="page-link" href="javascript:void(0)" (click)="changePage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="changePage(currentPage + 1)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </app-section-custom>
  