<app-section-custom [title]="'Topics'" [sectionId]="'2'">
  <carousel>
    <ng-content></ng-content>
    <!-- Custom Carousel Arrows -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon">
        <i class="bi bi-chevron-left"></i> <!-- Bootstrap icon for left arrow -->
      </span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon">
        <i class="bi bi-chevron-right"></i> <!-- Bootstrap icon for right arrow -->
      </span>
      <span class="visually-hidden">Next</span>
    </button>
  </carousel>
</app-section-custom>
