<section class="trending-podcast-section section-padding pb-0">
  <div class="container">
    <div class="row">
      <app-section-custom
        [title]="'Trending-episodes'"
        [sectionId]="''">
      </app-section-custom>


      <div class="col-lg-4 col-12 mb-4 mb-lg-0" *ngFor="let episode of episodes">
        <app-card-episode [episode]="episode"></app-card-episode>
      </div>


    </div>
    <div class="row">
      <div class="col-12 text-end">
        <a class="btn ">View More</a>
      </div>
    </div>

  </div>

</section>


