<div
  class="modal"
  id="uploadPodcastModal"
  tabindex="-1"
  aria-labelledby="uploadPodcastModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 *ngIf="step === 1" id="uploadPodcastModalLabel">Add a Podcast</h2>
        <h2 *ngIf="step === 2">Upload Episodes</h2>
        <h2 *ngIf="step === 3">Finish Upload</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeBtn
        ></button>
      </div>
      <div class="modal-body scrollable-content">
        <!-- Step 1: Podcast details -->
        <form *ngIf="step === 1" #podcastForm="ngForm">
          <label for="title">Podcast Name</label>
          <input
            id="title"
            [(ngModel)]="data.podcast.name"
            name="title"
            type="text"
            required
            placeholder="Enter podcast name"
            #title="ngModel"
            [ngClass]="{'is-invalid': title.invalid && title.touched}"
          />
          <div *ngIf="title.invalid && title.touched" class="text-danger">
            Podcast name is required.
          </div>

          <label for="topic">Topic</label>
          <select
            id="topic"
            [(ngModel)]="data.podcast.topic"
            name="topic"
            required
            class="form-control"
            #topic="ngModel"
            [ngClass]="{'is-invalid': topic.invalid && topic.touched}"
          >
            <option value="" disabled selected>Select a topic</option>
            <option *ngFor="let topic of topics" [value]="topic">{{ topic }}</option>
          </select>
          <div *ngIf="topic.invalid && topic.touched" class="text-danger">
            Podcast topic is required.
          </div>

          <label for="description">Description</label>
          <textarea
            id="description"
            [(ngModel)]="data.podcast.description"
            name="description"
            required
            placeholder="Enter description"
            #description="ngModel"
            [ngClass]="{'is-invalid': description.invalid && description.touched}"
          ></textarea>
          <div *ngIf="description.invalid && description.touched" class="text-danger">
            Podcast description is required.
          </div>

          <label for="episodesCount">Number of Episodes</label>
          <input
            id="episodesCount"
            [(ngModel)]="data.podcast.nbre_episode"
            name="episodesCount"
            type="number"
            [max]="5"
            required
            (input)="setEpisodesCount(data.podcast.nbre_episode)"
            placeholder="Enter number of episodes"
            #episodesCount="ngModel"
            [ngClass]="{'is-invalid': episodesCount.invalid && episodesCount.touched}"
          />
          <div *ngIf="episodesCount.invalid && episodesCount.touched" class="text-danger">
            Number of episodes is required.
          </div>

          <label for="image">Image</label>
          <div>
            <input
              id="image"
              type="file"
              (change)="onFileSelect($event, 'podcast')"
              style="display: none"
              #fileInput
            />
            <button
              class="button"
              type="button"
              (click)="triggerFileInput(fileInput)"
            >
              <span class="btn__text">Upload</span>
            </button>
            <div *ngIf="data.podcast.image">
              <span>Uploaded: {{ data.podcast.image }}</span>
          
              <button type="button" (click)="removeFile('podcast')">
                <i class="bi bi-trash-fill" style="font-size: 1.5rem; color: blue;"></i></button>
            </div>
          </div>
        </form>

        <!-- Step 2: Episode details -->
        <div *ngIf="step === 2">
          <div
            *ngFor="let episode of data.episodes; let i = index"
            class="episode-form"
          >
            <h3>Episode {{ i + 1 }}</h3>

            <label for="episode-name-{{ i }}">Episode Name</label>
            <input
              id="episode-name-{{ i }}"
              [(ngModel)]="episode.name"
              name="episode-name-{{ i }}"
              type="text"
              required
              placeholder="Enter episode name"
              #episodeName="ngModel"
              [ngClass]="{'is-invalid': episodeName.invalid && episodeName.touched}"
            />
            <div *ngIf="episodeName.invalid && episodeName.touched" class="text-danger">
              Episode name is required.
            </div>

            <label for="episode-description-{{ i }}">Description</label>
            <textarea
              id="episode-description-{{ i }}"
              [(ngModel)]="episode.description"
              name="episode-description-{{ i }}"
              required
              placeholder="Enter episode description"
              #episodeDescription="ngModel"
              [ngClass]="{'is-invalid': episodeDescription.invalid && episodeDescription.touched}"
            ></textarea>
            <div *ngIf="episodeDescription.invalid && episodeDescription.touched" class="text-danger">
              Episode description is required.
            </div>

            <label for="episode-duration-{{ i }}">Duration (in seconds)</label>
            <input
              id="episode-duration-{{ i }}"
              [(ngModel)]="episode.duration"
              name="episode-duration-{{ i }}"
              type="number"
              required
              placeholder="Enter episode duration in seconds"
              #episodeDuration="ngModel"
              [ngClass]="{'is-invalid': episodeDuration.invalid && episodeDuration.touched}"
            />
            <div *ngIf="episodeDuration.invalid && episodeDuration.touched" class="text-danger">
              Episode duration is required.
            </div>

            <label for="episode-file-{{ i }}">Attach Episode File</label>
            <div>
              <input
                #fileInput
                id="episode-file-{{ i }}"
                type="file"
                (change)="onFileSelect($event, 'episode', i)"
                style="display: none"
              />
              <button
                type="button"
                class="button"
                (click)="triggerFileInput(fileInput)"
              >
                <span class="btn__text">Upload</span>
              </button>
              <div *ngIf="episode.filepath">
                <span>Uploaded: {{ episode.filepath }}</span>
                <
                <button type="button" (click)="removeFile('episode', i)">
                  <i class="bi bi-trash-fill" style="font-size: 1.5rem; color: blue;"></i></button>
              </div>

            </div>

            <label for="episode-cover-image-{{ i }}">Cover Image</label>
            <div>
              <input
                #coverImageInput
                id="episode-cover-image-{{ i }}"
                type="file"
                (change)="onFileSelect($event, 'episode-cover', i)"
                style="display: none"
              />
              <button
                type="button"
                class="button"
                (click)="triggerFileInput(coverImageInput)"
              >
                <span class="btn__text">Upload Cover Image</span>
              </button>
              <div *ngIf="episode.coverImage">
                <span>Uploaded: {{ episode.coverImage }}</span>
                <
                <button type="button" (click)="removeFile('episode-cover', i)">
                  <i class="bi bi-trash-fill" style="font-size: 1.5rem; color: blue;"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button *ngIf="step > 1" class="btn-arrow" (click)="previousStep()">
          ←
        </button>
        <button *ngIf="step < 3" class="btn-arrow" (click)="nextStep()">
          → 
        </button>
        <button *ngIf="step === 3" class="btn-finish" (click)="finishUpload() " [disabled]="isUploading">
          {{ isUploading ? 'Uploading...' : 'Finish Upload' }}
        </button>
      </div>
    </div>
  </div>
</div>
