<form action="#" method="post" class="custom-form contact-form" role="form">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-floating">
          <input type="text" name="full-name" id="full-name" class="form-control" placeholder="Full Name" required />
          <label for="full-name">Full Name</label>
        </div>
      </div>
  
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-floating">
          <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required />
          <label for="email">Email address</label>
        </div>
      </div>
  
      <div class="col-lg-12 col-12">
        <div class="form-floating">
          <input type="text" name="company" id="company" class="form-control" placeholder="Company" required />
          <label for="company">Company</label>
        </div>
  
        <div class="form-floating">
          <textarea class="form-control" id="message" name="message" placeholder="Describe message here"></textarea>
          <label for="message">Describe message here</label>
        </div>
      </div>
  
      <div class="col-lg-4 col-12 ms-auto">
        <button type="submit" class="form-control">Submit</button>
      </div>
    </div>
  </form>
  