.site-footer {
  background-image: url('/assets/images/templatemo-wave-footer.jpg'), linear-gradient(#FFFFFF, #348CD2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -80px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.site-footer > .container {
  position: relative;
  top: 50px;
  padding-top: 100px;
}

.site-footer-title,
.site-footer p {
  color: var(--white-color);
}

.site-footer p strong {
  font-family: var(--title-font-family);
}

.site-footer p a {
  color: var(--white-color);
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.site-footer p a:hover {
  color: var(--secondary-color);
}
