
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <app-footer-subscribe class="col-lg-6 col-12 mb-5 mb-lg-0"></app-footer-subscribe>
        <app-footer-contact class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0"></app-footer-contact>
        <app-footer-download class="col-lg-3 col-md-6 col-12"></app-footer-download>
      </div>
    </div>
  
    <div class="container pt-5">
      <div class="d-flex align-items-center ">
        <app-logo></app-logo>
        <app-footer-links  class="col-lg-7 col-md-9 col-12"></app-footer-links>
      </div>
    </div>
    
  </footer>

