@import '../../../assets/css/custom-block.css';
@import '../../../assets/css/social-icon.css';


  /*---------------------------------------
    PAGINATION
  -----------------------------------------*/
  .pagination {
      border: 1px solid #dee2e6;
      border-radius: var(--border-radius-large);
      padding: 20px;
    }

    .page-link {
      border: 0;
      border-radius: var(--border-radius-small);
      color: var(--p-color);
      font-family: var(--title-font-family);
      margin: 0 5px;
      padding: 10px 20px;
    }

    .page-link:hover,
    .page-item:first-child .page-link:hover,
    .page-item:last-child .page-link:hover {
      background-color: var(--secondary-color);
      color: var(--white-color);
    }

    .page-item:first-child .page-link {
      margin-right: 10px;
    }

    .active>.page-link, .page-link.active {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);
      color: var(--white-color);
    }

    /*---------------------------------------
      CUSTOM ICON COLOR
    -----------------------------------------*/
    .custom-icon {
      color: var(--primary-color);
    }

