  <div class="custom-block custom-block-overlay owner-card">
    <a  class="custom-block-image-wrap">      <img [src]="image" class="custom-block-image img-fluid" alt="">
    </a>

    <div class="custom-block-info custom-block-overlay-info">
      <h5 class="mb-1">
        <a >
          {{ title }}
        </a>
      </h5>
      <p class="badge mb-0">{{ subtitle }} {{customtext }}</p>
    </div>

    <app-delete-button
    *ngIf="isOwner"
    class="delete-btn"
    (deleteConfirmed)="onDelete()">
  </app-delete-button>
  </div>
