@import "../../../assets/css/custom-block.css";
@import "../../../assets/css/section.css";
@import "../../../assets/css/profil-block.css";
@import "../../../assets/css/social-icon.css";
@import "../../../assets/css/templatemo-pod-talk.css";


.badge {
  background-color: rgb(26, 123, 202);
  font-family: var(--title-font-family);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  padding-bottom: 5px;
}
.custom-block {
  width: 100%; /* Ensures consistent width */
  max-width: 400px; /* Adjust as needed */
  height: 320px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Prevents content from overflowing */
}
a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;

    white-space: nowrap; /* Prevents title from breaking lines */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds '...' for truncated text */
    max-width: 100%; /* Ensures title doesn't overflow */


}
.owner-card {
  position: relative; /* Permet de positionner le bouton */
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(255, 0, 0);
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0; /* Caché par défaut */
  transition: opacity 0.3s ease-in-out;
}

.owner-card:hover .delete-btn {
  opacity: 1;
}
.badge {
  background-color: var(--custom-btn-bg-color);
  font-family: var(--title-font-family);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  padding-bottom: 5px;
}
.delete-btn .btn .trash-button{
  color: red !important;
}

.edit-btn {
  position: absolute;
  top: 10px;
  left: 5px;
  color: blue;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0; /* Caché par défaut */
  transition: opacity 0.3s ease-in-out;
}

.owner-card:hover .edit-btn {
  opacity: 1; /* S'affiche au survol */
}


.details .check-details-text {
  display: none; /* Cacher par défaut */
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  color: var(--primary-color);

  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.owner-card:hover .details .check-details-text {
  display: inline-block;
  opacity: 1;
  text-decoration: underline; 

}

