@import '../../../assets/css/custom-block.css';
@import '../../../assets/css/social-icon.css';


.custom-block {
  width: 100%; /* Ensures consistent width */
  max-width: 400px; /* Adjust as needed */
  height: 320px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Prevents content from overflowing */
}
a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
  
    white-space: nowrap; /* Prevents title from breaking lines */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds '...' for truncated text */
    max-width: 100%; /* Ensures title doesn't overflow */
  
  
}
