.custom-form .form-control {
    border-radius: var(--border-radius-small);
    color: var(--p-color);
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    margin-bottom: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    outline: none;
  }
  
  .form-floating>label {
    padding-left: 20px;
  }
  
  .custom-form button[type="submit"] {
    background: var(--custom-btn-bg-color);
    border: none;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-semibold);
    transition: all 0.3s;
    margin-bottom: 0;
  }
  
  .custom-form button[type="submit"]:hover,
  .custom-form button[type="submit"]:focus {
    background: var(--custom-btn-bg-hover-color);
    border-color: transparent;
  }
  .search-form .form-control {
    border: 0;
    margin-bottom: 0;
  }
  
  .search-form button[type="submit"] {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    max-width: 50px;
    height: 100%;
    padding-left: 15px;
  }
  
  .search-form button[type="submit"]:hover {
    background: var(--primary-color);
  }