.section-title-wrap {
    position: relative;
  }
  /* Adjust horizontal spacing between the cards (inside .row) */
.latest-podcast-section .row {
  display: flex;
  flex-wrap: wrap; /* Make sure the items wrap when needed */
row-gap: 15px ;}

/* Adjust vertical spacing for each card */
.latest-podcast-section .col-lg-6 {
  margin-bottom: 30px; /* Add vertical space between the cards */
}

/* Optional: You can add padding to the cards to increase the inner space */
.latest-podcast-section .col-lg-6 .app-episode-horizontal {
  padding: 10px; /* Adjust the inner spacing of the cards */
}

  .section-title-wrap::after {
    content: "";
    background: var(--section-bg-color);
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  
  .section-title {
    background: var(--section-bg-color);
    border-radius: var(--border-radius-large);
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    padding: 10px 25px;
  }