@import '../../../../../assets/css/link.css';

.social-share {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
}



.social-share .badge {
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 50px !important;
  font-size: var(--menu-font-size);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
