<div class="custom-block d-flex">
    <div class="">
      <div class="custom-block-icon-wrap">
        <div class="section-overlay"></div>
        <a href="detail-page.html" class="custom-block-image-wrap">
          <img [src]="imagePath" class="custom-block-image img-fluid" alt="">
  
          <a href="#" class="custom-block-icon">
            <i class="bi-play-fill"></i>
          </a>
        </a>
      </div>
  
      <div class="mt-2">
        <a href="#" class="btn custom-btn">
          Subscribe
        </a>
      </div>
    </div>
  
    <div class="custom-block-info">
      <div class="custom-block-top d-flex mb-1">
        <small class="me-4">
          <i class="bi-clock-fill custom-icon"></i>
          50 Minutes
        </small>
  
        <small>Episode <span class="badge">15</span></small>
      </div>
  
      <h5 class="mb-2">
        <a href="detail-page.html">
          {{ title }}
        </a>
      </h5>
  
      <div class="profile-block d-flex">
        <img [src]="profileImage" class="profile-block-image img-fluid" alt="">
  
        <p>{{ profileName }}
          <img src="images/verified.png" class="verified-image img-fluid" alt="">
          <strong>{{ profileRole }}</strong></p>
      </div>
  
      <p class="mb-0">{{ description }}</p>
  
      <div class="custom-block-bottom d-flex justify-content-between mt-3">
        <!-- Composant pour l'icône écouteur -->
        <app-headphones-icon
        [listensCount]="listensCount">
        </app-headphones-icon>

    <!-- Composant pour l'icône cœur -->
        <app-heart-icon
        [likesCount]="likesCount"
        (liked)="onLikeChanged($event)">
        </app-heart-icon>

    <!-- Composant pour l'icône chat -->
        <app-comment-icon
        [commentsCount]="commentsCount"
        (commented)="onCommentChanged($event)">
        </app-comment-icon>
  
        <a href="#" class="bi-download">
          <span>50k</span>
        </a>
      </div>
    </div>
  
    <div class="d-flex flex-column ms-auto">
      <a href="#" class="badge ms-auto">
        <i class="bi-heart"></i>
      </a>
  
      <a href="#" class="badge ms-auto">
        <i class="bi-bookmark"></i>
      </a>
    </div>
  </div>
  