.input-group {
    position: relative;
    width: 100%;
    margin: 0.5rem 0;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--gray-2);
}

.input-group input {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: var(--gray);
    border-radius: .5rem;
    border: 0.125rem solid var(--white);
    outline: none;
}

.input-group input:focus {
    border: 0.125rem solid var(--primary-color);
}

.ng-invalid.ng-touched {
    border: solid red !important;}

.alert {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    padding: 0.25rem 3rem ;
    animation: fadeIn 0.3s ease-in;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}