<div id="container" class="container sign-in">
  <!-- FORM SECTION -->
  <div class="">
      <!-- Step 1  -->
      <div class="col-10 d-flex justify-content-end  align-items-center sign-in" *ngIf="step === 1">
          <div class="form-wrapper  align-items-center">
              <div class="form sign-in">
                <app-input-field  icon="bx bxs-user" type="email" placeholder="Email" name="email" [(ngModel)]="email" placeholder="Enter your email" type="email"></app-input-field>
                <app-action-button buttonText="Send Verification Code" (click)="sendVerificationCode()"></app-action-button>
              </div>
          </div>
      </div>
      <!-- Step 2: Verification Code Form -->
      <div class="col-10 d-flex justify-content-end  align-items-center sign-in" *ngIf="step === 2">
        <div class="form-wrapper align-items-center">
          <div class="form sign-in">
          <app-input-field [(ngModel)]="verificationCode" icon="bx bxs-user" placeholder="Enter verification code" name="code" type="text"></app-input-field>
          <app-action-button  buttonText="Verify Code"  (click)="verifyCode()"></app-action-button>
          </div>
        </div>
      </div>
      <!-- Step 3: New Password Form -->
      <div class="col-10 d-flex justify-content-end  align-items-center sign-in" *ngIf="step === 3">
        <div class="form-wrapper d-flex align-items-center">
          <div  class="form sign-in">
            <app-input-field [(ngModel)]="newPassword" placeholder="New Password" type="password"></app-input-field>
            <app-input-field [(ngModel)]="confirmPassword" placeholder="Confirm Password" type="password"></app-input-field>
            <app-action-button buttonText="Submit New Password" (click)="submitPassword()"></app-action-button>
          </div>
        </div>
      </div>
  </div>
  <!-- CONTENT SECTION -->
  <div class="row content-row">
      <!-- SIGN IN CONTENT -->
      <div class="col align-items-center flex-col sign-up">
        <div class="form-wrapper align-items-center">
          <div class="text sign-in">
              <h2>
                  Forgot Password
              </h2>
          </div>
        </div>
          <div class="img sign-in"></div>
      </div>
      <!-- END SIGN IN CONTENT -->
      <!-- SIGN UP CONTENT -->
      <div class="col align-items-center flex-col">
          <div class="img sign-up"></div>
          <div class="text sign-up">
              <h2>

              </h2>
          </div>
      </div>
      <!-- END SIGN UP CONTENT -->
  </div>
  <!-- END CONTENT SECTION -->
</div>
