.home{
  background-image: url("../../../assets/images/templatemo-wave-header.jpg"), linear-gradient(#348CD2, #FFFFFF);
  background-repeat: no-repeat;
  min-height: 400px;
  position: relative;
  background-size: 108% 80%;
 background-position: top;

}
