.site-header {
    background-image: url('/assets/images/templatemo-wave-header.jpg'), linear-gradient(#348CD2, #FFFFFF);;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 480px;
    position: relative;
  }
  
  .site-header h2 {
    color: var(--white-color);
  }