<app-section-custom [title]="currentEpisode.name" [id]="'section_2'">
  <app-vid-player [episodeId]="currentEpisode.id" [filepath]="currentEpisode.filepath"></app-vid-player>
</app-section-custom>
<app-related-section
[routerLink]="['/episode', currentEpisode.id]"

  (episodeSelected)="onEpisodeSelected($event)">
</app-related-section>


      <app-comment-section
        *ngIf="currentEpisode"
        [episode]="currentEpisode"
        [selectedEpisode]="currentEpisode.id"
        >
      </app-comment-section>
