@import "../../../assets/css/custom-block.css";
@import "../../../assets/css/section.css";
@import "../../../assets/css/profil-block.css";
@import "../../../assets/css/social-icon.css";
@import "../../../assets/css/link.css";

.badge {
  background-color: var(--custom-btn-bg-color);
  font-family: var(--title-font-family);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  padding-bottom: 5px;
}
.verified-image {
  display: inline-block;
  width: 20px;
  height: auto;
}
.subscribe
{
  position: relative;
  bottom: 80px;
  margin-bottom: -40px ;
}
