<div class="row">
  <div class="col-12 subscribe d-flex justify-content-end">
    <app-subscribe-button></app-subscribe-button>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-12">
    <div class="custom-block-icon-wrap">
      <div class="custom-block-image-wrap custom-block-image-detail-page">
        <img [src]="episode.coverImage" class="custom-block-image img-fluid" alt="{{ episode.title }}">
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-12">
    <div class="custom-block-info">
      <div class="custom-block-top d-flex mb-1">
        <small class="me-4">
          <a href="#">
            <i class="bi-play"></i>
            Play now
          </a>
        </small>

        <small>
          <i class="bi-clock-fill custom-icon"></i>
          {{ episode.duration }}
        </small>


        <small class="ms-auto">Episode <span class="badge">{{ episode.number}}</span></small>
      </div>

      <h2 class="mb-2">{{ episode.title }}</h2>

      <p>{{ episode.description }}</p>

      <div class="profile-block profile-detail-block d-flex flex-wrap align-items-center mt-5">
        <div class="d-flex mb-3 mb-lg-0 mb-md-0">
          <img [src]="episode.profileImage" class="profile-block-image img-fluid" alt="{{ episode.profileName }}">
          <p>
            {{ episode.profileName }}
            <img src="assets/images/verified.png" class="verified-image img-fluid" alt="Verified">
            <strong>{{ episode.podcast.user.profession }}</strong>
          </p>
        </div>

        <ul class="social-icon ms-lg-auto ms-md-auto">
          <li class="social-icon-item">
            <a [href]="episode.podcast.user.intagramLink" class="social-icon-link bi-instagram"></a>
          </li>
          <li class="social-icon-item">
            <a [href]="episode.twitterLink" class="social-icon-link bi-twitter"></a>
          </li>
          <li class="social-icon-item">
            <a [href]="episode.facebookLink" class="social-icon-link bi-whatsapp"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
