<div class="modal fade" id="UserInfoModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">Editer vos donnees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm" (ngSubmit)="onUserSubmit(userForm)">
          <div class="mb-3">
            <label for="photo" class="form-label">Photo</label>
            <input type="file" class="form-control" id="photo" name="photo">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Firstname</label>
            <input type="text" class="form-control" id="Firstname" name="Firstname"
                   [(ngModel)]="formData.firstName" required>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Lastname</label>
            <input type="text" class="form-control" id="lastname" name="lastname"
                   [(ngModel)]="formData.lastName" required>
          </div>
          <div class="mb-3">
            <label for="birthday" class="form-label">Date de naissance</label>
            <input type="date" class="form-control" id="birthday" name="birthday"
                   [(ngModel)]="formData.birthday" required>
          </div>
          <div class="mb-3">
            <label for="country" class="form-label">Pays</label>
            <select class="form-select" id="country" name="country"
                    [(ngModel)]="formData.country" required>
              <option value="" disabled>Sélectionnez un pays</option>
              <option value="France">France</option>
              <option value="Tunisie">Tunisie</option>
              <option value="États-Unis">États-Unis</option>
              <option value="Canada">Canada</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>