
<div class="custom-block custom-block-full">
  <div [routerLink]="['/details-podcast', episode.id]" class="custom-block-image-wrap">
    <a>
      <img [src]="episode.coverImage" class="custom-block-image img-fluid" alt="">
    </a>
  </div>

  <div class="custom-block-info">
    <h5 class="mb-2">
      <a>{{ episode.name }}</a>
    </h5>

    <div [routerLink]="['/details-podcast', episode.id]" class="profile-block d-flex">
      <img [src]="episode.podcast.user.photo" class="profile-block-image img-fluid" alt="">
      <p>{{ episode.podcast.user.username }} <strong>{{ episode.podcast.user.profession }}</strong></p>
    </div>

    <p [routerLink]="['/details-podcast', episode.id]" class="mb-0">{{ episode.description }}</p>

    <div class="custom-block-bottom d-flex justify-content-between mt-3">
      <!-- Composant pour l'icône écouteur -->
      <app-headphones-icon
        [views]="episode.views">
      </app-headphones-icon>

      <!-- Composant pour l'icône cœur -->
      <!-- In card-episode.component.html -->
      <app-heart-icon
        [numberOfLikes]="numberOfLikes"
        (liked)="onLikeChanged()">
      </app-heart-icon>

      <!-- Composant pour l'icône chat -->
      <app-comment-icon
        [numberOfComments]="episode.numberOfComments"
        (commented)="onCommentChanged($event)">
      </app-comment-icon>
    </div>



  </div>
  <div class="social-share d-flex flex-column ms-auto">

    <a  class="badge ms-auto">
        <i class="bi-bookmark"></i>
    </a>
</div>

</div>
