@import "../../../assets/css/link.css";
@import "../../../assets/css/section.css";
@import "../../../assets/css/custom-block.css";
@import "../../../assets/css/profil-block.css";


.verified-image {
  display: inline-block;
  width: 20px;
  height: auto;
}
.owl-carousel .owl-item .owl-carousel-verified-image {
  display: inline-block;
  width: 30px;
  height: auto;
  position: relative;
  right: 5px;
}
.owl-carousel-info-wrap .social-share,
.team-thumb .social-share {
  position: absolute;
  right: 0;
  bottom: 0;
}
.custom-block-bottom a:hover span {
  color: var(--primary-color);
}

.custom-block-bottom a span {
  font-family: var(--title-font-family);
  color: var(--p-color);
  text-transform: uppercase;
}
