<div class="custom-block custom-block-full">
  <div class="custom-block-image-wrap">
    <a>
      <img [src]="episode.imagePath" class="custom-block-image img-fluid" alt="">
    </a>
  </div>

  <div class="custom-block-info">
    <h5 class="mb-2">
      <a href="">{{ episode.title }}</a>
    </h5>

    <div class="profile-block d-flex">
      <img [src]="episode.profileImage" class="profile-block-image img-fluid" alt="">
      <p>{{ episode.profileName }} <strong>{{ episode.profileRole }}</strong></p>
    </div>

    <p class="mb-0">{{ episode.description }}</p>

    <div class="custom-block-bottom d-flex justify-content-between mt-3">
      <app-headphones-icon [listensCount]="episode.listensCount"></app-headphones-icon>
      <app-heart-icon [likesCount]="episode.likesCount" (liked)="onLikeChanged($event)"></app-heart-icon>
      <app-comment-icon [commentsCount]="episode.commentsCount" (commented)="onCommentChanged($event)"></app-comment-icon>
    </div>
  </div>
  <app-save-icon></app-save-icon>
</div>
