<app-navbar></app-navbar>
<section class="about-section section-padding" id="section_2">
  <div class="container">
    <div class="row">
      <!-- Our Story Section -->
      <div class="col-lg-8 col-12 mx-auto">
        <div class="pb-5 mb-5">
          <div class="section-title-wrap mb-4">
            <h4 class="section-title">Our story</h4>
          </div>

          <p *ngFor="let paragraph of description">
            {{ paragraph }}
          </p>
          <img
            src="assets/images/medium-shot-young-people-recording-podcast.jpg"
            class="about-image mt-5 img-fluid"
            alt=""
          />
        </div>
      </div>

      <!-- Meet Podcaters Section -->
      <div class="col-lg-12 col-12">
        <div class="section-title-wrap mb-5">
          <h4 class="section-title">Meet the Team</h4>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let teamMem of team">
        <app-hero-card
          [nom]="teamMem.nom"
          [badges]="teamMem.badges"
          [imagesrc]="teamMem.imagesrc"
        ></app-hero-card>
      </div>
      
    </div>
  </div>
</section>
<app-footer></app-footer>
