<section class="hero-section">
  <div class="container">
      <div class="row">

          <div class="col-lg-12 col-12">
              <div class="text-center mb-5 pb-2">
                  <h1 class="text-white">Listen to Pod Talk</h1>

                  <p class="text-white">Listen it everywhere. Explore your fav podcasts.</p>

                  <a href="#section_2" class="btn custom-btn smoothscroll mt-3">Start listening</a>
              </div>

                  <app-hero-card
                    [nom]="'Candice'"
                    [badges]="['Business','Marketing']"
                    [imagesrc]="'../../../assets/images/avatar.png'">
                  </app-hero-card>

                  <app-hero-card
                    [nom]="'Candice'"
                    [badges]="['Business','Marketing']"
                    [imagesrc]="'../../../assets/images/avatar.png'">
                  </app-hero-card>


          </div>

      </div>
  </div>
</section>
