<div class="custom-block d-flex align-items-stretch ">

  <!-- Left Column: Image and Subscribe -->
  <div class="custom-block-left">
    <div [routerLink]="['/details-podcast', episode.id]" class="custom-block-icon-wrap">
      <div class="section-overlay"></div>
      <a class="custom-block-image-wrap">
        <img [src]="episode.coverImage" class="custom-block-image img-fluid fixed-image" alt="">
        <a class="custom-block-icon">
          <i class="bi-play-fill"></i>
        </a>
      </a>
    </div>
    <app-subscribe-button [episode]="episode"></app-subscribe-button>
  </div>

  <!-- Right Column: Podcast Info -->
  <div class="custom-block-info d-flex flex-column">
    <div [routerLink]="['/details-podcast', episode.id]" class="text-truncate">
      <div class="custom-block-top d-flex mb-1">
        <small class="me-4">
          <i class="bi-clock-fill custom-icon"></i>
          {{ episode.duration }}
        </small>
        <small>Episode <span class="badge">{{ episode.number }}</span></small>
      </div>

      <h5 class="mb-2 title-truncate">
        <a>{{ episode.name }}</a>
      </h5>

      <div class="profile-block d-flex align-items-center">
        <img [src]="episode.podcast.user.photo" class="profile-block-image img-fluid rounded-circle" alt="">
        <p class="profile-text">
          {{ episode.podcast.user.firstName }} {{ episode.podcast.user.lastName }}
          <strong>{{ episode.podcast.user.profession }}</strong>
        </p>
      </div>

      <p class="mb-0 description-truncate">{{ episode.description }}</p>
    </div>

    <div class="custom-block-bottom d-flex justify-content-between mt-3">
      <app-headphones-icon [episodeId]="episode.id"></app-headphones-icon>
      <app-heart-icon [numberOfLikes]="numberOfLikes" [isLiked]="isLiked" (liked)="onLikeChanged()" [authorisedToLike]="authorisedToLike"></app-heart-icon>
      <app-comment-icon [numberOfComments]="episode.comments.length" (commented)="null"></app-comment-icon>
    </div>
  </div>

  <!-- Right-most Column: Icons -->
  <div class="d-flex flex-column">
    <app-save-icon [episodeId]="episode.id"           (unfavorite)="unfavoriteEpisode()"      ></app-save-icon>  </div>

</div>
