

.badge {
  background-color: var(--custom-btn-bg-color);
  font-family: var(--title-font-family);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  padding-bottom: 5px;
}
.verified-image {
  display: inline-block;
  width: 20px;
  height: auto;
}
.details-podcast-section{
  position: relative;
  top: -300px;
  background-color: #ffffff;
}
