<app-section-custom [title]='"Latest Episodes"' [id]='"section_2"'>
  <app-vid-player [episodeId]="currentEpisode?.id" [videoSource]="currentEpisode?.videoSource"></app-vid-player>
</app-section-custom>

<app-section-custom [title]='"Related Episodes"' [id]='"section_2"'>
  <app-swiper
    [cards]="relatedEpisodes"
    [colClass]="'col-lg-3 col-md-6 col-12 mb-4 mb-lg-0'"
    [slideToShow]="4"
    [slideWidth]="300"
  >
    <ng-template let-episode>
      <app-topics
        [title]="episode.title"
        [episodes]="episode.episodes"
        [image]="episode.image"
        [class.selected]="episode.id === currentEpisode?.id"
        (click)="loadEpisode(episode.id)"
        ></app-topics>
    </ng-template>
  </app-swiper>
</app-section-custom>

<app-section-custom [title]='"Comments"' [id]='"section_2"'>
  <div class="container comments p-4">
    <div class="row all-comments custom-scrollbar">
      <app-comment
        *ngFor="let comment of comments"
        [comment]="comment"
        [colWidthIm]="2"
        [colLikeLg]="3"
        [colLikeMd]="4"
        [moreThanOne]="true"
      ></app-comment>
    </div>
  </div>
</app-section-custom>
