<app-navbar></app-navbar>

<div class="cont">
  <!-- Sidebar -->
  <div class="sidebar">
    <h3>Filtre</h3>
    <app-filtre (filteredpodcasts)="handleFilteredPodcasts($event)"></app-filtre>

  </div>

  <!-- Cards Grid -->
  <div class="content">
      <app-card-podcast class="card" *ngFor="let podcast of podcasts"
        [podname]="podcast.name"
        [podimage]="podcast.image"
        [duration]="podcast.duration"
        [nbre_episodes]="podcast.nbre_episode"
        [username]="podcast.user?.username"
        [userimage]="podcast.user?.photo"
        ></app-card-podcast>
  </div>
</div>
