<article class="podcast-card">
  <div class="cover-container">
      <img class="cover-image" src="../../../assets/images/podcast/12577967_02.jpg" alt="Cover Image" />
      <div class="episode-container">
        <div class="episode-badge">35</div>
        <span class="episode-name" >Episodes</span>
      </div>

    </div>

  <div class="content-container">
      <h2 class="podcast-title">Le Podcast des Arts</h2>

      <div class="presenters">
          <div class="presenter">
              <img class="presenter-image" src="../../../assets/images/profile/cute-smiling-woman-outdoor-portrait.jpg" alt="Presenter 1" />
              <span class="presenter-name">Luc Wintsch</span>
          </div>
          <div class="presenter">
              <img class="presenter-image" src="../../../assets/images/profile/man-portrait.jpg" alt="Presenter 2" />
              <span class="presenter-name" >Marie Durand</span>
          </div>
      </div>
      <p class="topic">Creations</p>


  </div>
</article>
