<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>{{ isPodcast ? 'Update Podcast' : 'Update Episode' }}</h2>
        <button class="btn-close" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              id="name"
              formControlName="name"
              type="text"
              placeholder="Enter {{ isPodcast ? 'podcast' : 'episode' }} name"
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              formControlName="description"
              placeholder="Enter {{ isPodcast ? 'podcast' : 'episode' }} description"
            ></textarea>
          </div>
          <app-upload-progress
              accept="'.png, .jpeg, .jpg, .svg'"
              [buttonText]="isPodcast ? 'Podcast Cover Image' : 'Episode Cover Image'"
              (fileUploaded)="handleFileUploaded($event)">
            </app-upload-progress>

        <app-upload-progress
            *ngIf="!isPodcast"
            accept="'.mp3,.mp4'"
            buttonText="Upload Episode File"
            (fileUploaded)="handleFileUploaded($event)"
          ></app-upload-progress>


        </form>
      </div>
      <div class="modal-footer">
        <button class="btn-save" (click)="saveChanges()">Save</button>
      </div>
    </div>
  </div>
