<app-navbar  style="background-image: url('/assets/images/templatemo-wave-header-for-profil.jpg'), linear-gradient(#348CD2, #FFFFFF);"></app-navbar>
<section class="details-podcast-section section-padding pb-0" id="section_2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-12">
        <app-section-custom
          [title]="'Daily Talk'"
          [sectionId]="''">
        </app-section-custom>

        <app-card-episode-with-details [episode]="episode"></app-card-episode-with-details>

        <br>
        <app-section-custom
          [title]="'Episodes'"
          [sectionId]="''">
        </app-section-custom>
        <app-swiper [cards]="displayedEpisodes" [colClass]="'col-lg-3 col-md-6 col-12 mb-4 mb-lg-0'" [slideToShow]="4" [slideWidth]="300">
          <ng-template let-episode>
            <app-topics
              [title]="episode.title"
              [image]="episode.image"
            ></app-topics>
          </ng-template>
        </app-swiper>
        <app-section-custom
          [title]="'Comments'"
          [sectionId]="''">
        </app-section-custom>

        <div class="container comments p-4"><div class="row all-comments custom-scrollbar">
          <app-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          [colWidthIm]="2"
          [colLikeLg]="3"
          [colLikeMd]="4"
          [moreThanOne]="true">
        </app-comment>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>
