<div class="filter-container">
  <section class="search-section">
    <label>Title</label>
    <div class="search-input">
      <input type="text" placeholder="Rechercher un podcast">
    </div>
    <label>Topic</label>
    <div class="category-select">

      <select>
        <option value="0">topic1</option>
        <option value="1">topic2</option>
        <option value="2">topic3</option>
        <option value="3">topic4</option>
      </select>
    </div>
  </section>

  <section class="advanced-filters">
    <div class="vehicle-filters">
      <div class="filter-group">
        <label>Duration</label>
        <div class="range-input">
          <input type="number" placeholder="De" min="30" max="2025">
          <input type="number" placeholder="À" min="30" max="2025">
        </div>
      </div>

    </div>
  </section>

  <section class="price-location-filters">
    <div class="price-filter">
      <label>Nombre d'épisodes</label>
      <div class="search-input">
        <input type="text" placeholder="nombre d'épisodes">
      </div>
    </div>

    <label>Presentor</label>
    <div class="category-select">

      <select>
        <option value="0">presentor1</option>
        <option value="1">presentor2</option>
        <option value="2">presentor3</option>
        <option value="3">presentor4</option>
      </select>
    </div>
  </section>

  <section class="filter-actions">
    <button class="btn-primary">Rechercher</button>
    <button class="btn-secondary">Réinitialiser</button>
  </section>
</div>
