<div class="col-lg-3 col-md-6 col-12">
  <h6 class="site-footer-title mb-3">Download Mobile</h6>

  <div class="site-footer-thumb mb-4 pb-2">
    <div class="d-flex">
      <a href="#" class="download-link">
        <img
          src="assets/images/app-store.png"
          class="me-3 mb-2 mb-lg-0 img-fluid"
          alt="App Store"
        />
      </a>

      <a href="#" class="download-link">
        <img
          src="assets/images/play-store.png"
          class="img-fluid"
          alt="Play Store"
        />
      </a>
    </div>
  </div>

  <h6 class="site-footer-title mb-3">Social</h6>

  <ul class="social-icon">
    <li class="social-icon-item">
      <a href="#" class="social-icon-link bi-instagram"></a>
    </li>

    <li class="social-icon-item">
      <a href="#" class="social-icon-link bi-twitter"></a>
    </li>

    <li class="social-icon-item">
      <a href="#" class="social-icon-link bi-whatsapp"></a>
    </li>
  </ul>
</div>
