<!-- Profil utilisateur -->
<div class="dropdown user-profile" *ngIf="user?.firstName">
  <img 
    [src]="user.photo ? user.photo : 'assets/images/avatar.png'" 
    class="user-avatar dropdown-toggle" 
    id="userDropdown" 
    data-bs-toggle="dropdown" 
    aria-expanded="false"
  />
  <span>{{ user.username }}</span>

  <!-- Menu déroulant -->
  <ul class="dropdown-menu" aria-labelledby="userDropdown">
    <li>
      <a class="dropdown-item" (click)="viewProfile()">
        <i class="bi bi-person-circle"></i> Profile
      </a>
    </li>
    <li>
      <a class="dropdown-item" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Logout
      </a>
    </li>
  </ul>
</div>

<!-- Bouton de connexion si l'utilisateur n'est pas connecté -->
<div *ngIf="!user?.firstName">
  <button class="button-63" role="button" [routerLink]="['/login']">Sign in</button>
</div>
